body {
    background-image: url('https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95be0d8a6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 105vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: rgba(247, 240, 240, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.89);
    padding: 20px;
    text-align: left; 
}

h2 {
    color: black;
}

.container-for-id{
    display: block;
    background-color: rgba(252, 236, 236, 0.8);
    border-radius: 15px;
    height: 500px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.89);
    
}
.college-and-pic{
    align-items: center;
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    background-color: rgb(15, 247, 3);
    border-radius: 10px;
    border-bottom-right-radius: 100%;
}
.footer-home{
    height: 75px;
    width: 400px;
    background-color: rgb(15, 247, 3);
    border-radius: 5px;
}
.name-dob-class{
    height: 250px;
    width: 400px;
    padding-top: 75px;
    display: flex;
    flex-direction: column;

}
.your-pic-home{
    width: 50px;
    height: 50px;
}
.college-name-home{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.name-class-home{
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding-left: 60px;
    
}
img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.home-btn{
    position: relative;
    margin: 10px;
}
.for-btn-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.for-btn{
    padding-top: 30px;
    padding-left: 150px;
}